//
//  Config.xcconfig
//  UsingPreview
//
//  Created by William.Weng on 2020/1/21.
//  Copyright © 2020 William.Weng. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

API_BASE_URL = api.example.dev
API_KEY = 9e053b0285394378cf3259ed86cd7504
