table {
    border: 5px solid #000;
    font-family: 微軟正黑體;
    font-size: 32px;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

th {
    background-color: #009FCC;
    padding: 10px;
    border: 1px solid #000;
    color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #000;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: khaki;
    padding: 5px;
}